body{
  background-image: url(radar.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Image by <a href="https://pixabay.com/users/jeffjacobs1990-7438739/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3149462">Jeff Jacobs</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3149462">Pixabay</a> */

table{
  border: 2px solid white;
  margin: auto;
  width: 800px;
  background-color: #173973;
}

h2, h1{
  text-align: center;
  color: white;
}

th{
  border: 1px solid white;
  width: 50px;
  height: 50px;
  color: white;
}

.buttons{
  text-align: center;
}